<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>LCID Metadata Explorer</title>

    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/brands.min.css"/>
    <link type="text/css" rel="stylesheet" href="assets/bootstrap.5.1.3.min.css"/>
    <link type="text/css" rel="stylesheet" href="assets/bootstrap-vue.2.21.2.min.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="assets/vue.2.6.14.min.js"></script> -->
    <script src="assets/bootstrap-vue.2.21.2.min.js"></script>
    <script src="assets/vue-router.3.5.3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
</head>


<body id="mainbody">
    <noscript>
        <p><strong>The majority of graphs on this page are interactive and require
                JavaScript to be enabled.</strong></p>
    </noscript>

    <div class="header">
        <a href="./"><img src="img/Leiden-CID-logo_200.png" alt="" height="90"></a>
        &nbsp;&nbsp;
        <h1><strong>LCID Metadata Explorer</strong></h1>
        <div class="dropdown push">
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a onclick="window.location='overview.html'">LCID overview</a>
              <a onclick="window.location='participants.html'">Participants</a>
              <a onclick="window.location='measures-collected.html'">Measures collected</a>
              <a onclick="window.location='measures-table.html'">Measures table</a>
              <a onclick="window.location='mri.html'">MRI measures</a>
            </div>
        </div>
    </div>

    
    <b-container id="explorer-collected" v-if="measures_loaded">

        <div class="intro">
            <h2><strong><em>{{text_content['measures-collected']['title']}}</em></strong></h2>
            {{text_content['measures-collected']['descriptive_paragraph']}}
        </div>

        <b-card style="background-color: var(--lcid_dark_blue); color: white; margin-bottom: 0.5em;">
            <h4><em>First include all measures of interest</em></h4>
            <br>
            <b-row>
                <!-- SEARCH TEXT -->
                <b-col cols="6">
                    <b-row>
                        <b-form-group v-slot="{ ariaDescribedby }">
                            <label for="search_text_input" class="filter-label"><i class="fas fa-magnifying-glass"></i>&nbsp;Find measures by name or description</label>
                            <b-form-input size="sm"
                            id="search_text_input"
                            class="mb-2 mr-sm-2 mb-sm-0"
                            placeholder="Enter text (hit enter to add search tag)"
                            v-model="search_text"
                            v-on:keyup.enter="addSearchTextTag()"
                            ></b-form-input>
                        </b-form-group>
                    </b-row>
                    <b-row>
                        <div class="d-inline-block" style="font-size: 1.5rem;">
                            <span v-for="tag in search_text_tags" :key="tag"><b-button pill size="sm" class="p-1" variant="outline-light" @click="removeSearchTextTag(tag)">{{tag}} <i class="fas fa-times-circle"></i></b-button>&nbsp;</span>
                        </div>
                    </b-row>
                </b-col>
                <b-col cols="6">
                    <label for="keyword_search_input" class="filter-label"><i class="fas fa-magnifying-glass"></i>&nbsp;Find measures by keyword</label>
                    <b-input-group>
                        <b-form-tags v-model="search_keywords" :tag-validator="validator" no-outer-focus class="border-0 p-0" style="background-color: var(--lcid_dark_blue);">
                          <template v-slot="{ tags, inputAttrs, inputHandlers, tagVariant, addTag, removeTag}">
                            <b-input-group class="mb-0">
                              <b-form-input size="sm"
                                v-bind="inputAttrs"
                                v-model="keyword_text"
                                v-on="inputHandlers"
                                placeholder="Enter keyword(s)"
                                class="form-control"
                                id="keyword_search_input"
                                @input="inputKeywordText()"
                                v-on:keyup.enter="clearSearchKeywordText()"
                              ></b-form-input>
                            </b-input-group>
                            <div class="d-inline-block" style="font-size: 1.5rem; background-color: var(--lcid_dark_blue);">
                              <span v-for="tag in tags" :key="tag"><b-button pill size="sm" class="p-1" variant="outline-light" @click="removeSearchKeyword(tag)">{{tag}} <i class="fas fa-times-circle"></i></b-button>&nbsp;</span>
                            </div>
                          </template>
                        </b-form-tags>
                        <template #append>
                          <b-button size="sm" variant="outline-light" id="popover-target-1" class="pl-0 pr-0">Keywords</b-button>
                          <b-popover target="popover-target-1" triggers="hover" :show.sync="popoverShow" placement="left" ref="popover">
                            <div v-if="keywords_ready">
                              <span v-if="keyword_options_filtered.length == 0"><em>No keywords found</em></span>
                              <span v-else v-for="option in keyword_options_filtered"><b-button pill size="sm" class="p-1" variant="outline-dark" @click="addSearchKeyword(option)">{{option}}</b-button>&nbsp;</span>
                            </div>
                          </b-popover>
                        </template>
                      </b-input-group>
                </b-col>
            </b-row>
            
        </b-card>

        <b-card style="background-color: var(--lcid_dark_blue); color: white">
            <h4><em>Then narrow the search space</em></h4>
            <br>
            <b-row>
                <b-col cols="4">
                    <b-row>
                        <b-col>
                            <!-- RESPONDENTS -->
                            <b-form-group v-slot="{ ariaDescribedbyResp }">
                                <label for="respondents_checkbox" class="filter-label"><i class="fas fa-users"></i>&nbsp;Which respondents would you like to view?</label>
                                <br>
                                <span><b-button variant="outline-light" size="sm" style="padding: 1px;" @click="toggleChecks('respondent')"><i :class="respondent_check_icon"></i></b-button> <em>All</em></span>
                                <b-form-checkbox-group
                                    id="respondents_checkbox"
                                    v-model="filter_arrays['respondent']"
                                    :options="all_arrays['respondent']"
                                    :aria-describedby="ariaDescribedbyResp"
                                    name="flavour--0"
                                ></b-form-checkbox-group>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <br>
                    
                    <!-- <b-row>
                        <div class="d-inline-block" style="font-size: 1.5rem;">
                            <span v-for="tag in search_text_tags" :key="tag"><b-button pill size="sm" class="p-1" variant="outline-light" @click="removeSearchTextTag(tag)">{{tag}} <i class="fas fa-times-circle"></i></b-button>&nbsp;</span>
                        </div>
                    </b-row> -->
                </b-col>
                <b-col cols="4">
                    <!-- CATEGORY -->
                    <b-form-group v-slot="{ ariaDescribedbyCat }">
                    <label for="category_checkbox" class="filter-label"><i class="fas fa-pie-chart"></i>&nbsp;Which categories would you like to view?</label>
                    <br>
                    <span><b-button variant="outline-light" size="sm" style="padding: 1px;" @click="toggleChecks('category')"><i :class="category_check_icon"></i></b-button> <em>All</em></span>
                        <b-form-checkbox-group
                            id="category_checkbox"
                            v-model="filter_arrays['category']"
                            :options="all_arrays['category']"
                            :aria-describedby="ariaDescribedbyCat"
                            name="flavour-1"
                        ></b-form-checkbox-group>
                    </b-form-group>
                </b-col>
                <!-- <b-col cols="1"></b-col> -->
                <b-col>
                    <!-- TYPE -->
                    <b-form-group v-slot="{ ariaDescribedbyType }">
                    <label for="type_checkbox" class="filter-label"><i class="fas fa-ruler"></i>&nbsp;Which types would you like to view?</label>
                    <br>
                    <span><b-button variant="outline-light" size="sm" style="padding: 1px;" @click="toggleChecks('type')"><i :class="type_check_icon"></i></b-button> <em>All</em></span>
                        <b-form-checkbox-group
                            id="type_checkbox"
                            v-model="filter_arrays['type']"
                            :options="all_arrays['type']"
                            :aria-describedby="ariaDescribedbyType"
                            name="flavour-2"
                        ></b-form-checkbox-group>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row>
                <b-col style="text-align: left;">
                    <b-button size="sm" variant="outline-light" @click="resetTable()"><i class="fas fa-rotate-left"></i> Reset Graph</b-button>
                    <b-dropdown size="sm" text="Export Graph Data" variant="outline-light" class="m-2">
                        <b-dropdown-item @click="exportTable('csv')"><i class="fas fa-file-csv"></i> CSV</b-dropdown-item>
                        <b-dropdown-item @click="exportTable('json')"><i class="fas fa-file-code"></i> JSON</b-dropdown-item>
                      </b-dropdown>
                </b-col>
            </b-row>
        </b-card>
        <br>
        <br>

        <b-card style="background-color: var(--lcid_dark_blue); color: white"  class="text-center">

            <b-row>
                <b-col cols="8">
                    <div id="measure_graph"></div>
                </b-col>
                
                <b-col>
                    <div class="stickydiv">
                        <h4 style="text-align:left"><em>Select a data point on the graph to view details: </em>{{display_details['measure_shortname']}}</h4>
                        <br>
        
                        <table class="lcid-info-table">

                            <tr>
                                <td style="width:30%">{{display_details_names['measure_name']}}:</td>
                                <td>{{display_details['measure_name']}}</td>
                            </tr>
                            <tr>
                                <td style="width:30%">{{display_details_names['description']}}:</td>
                                <td>{{display_details['description']}}</td>
                            </tr>
                            <tr>
                                <td style="width:30%">{{display_details_names['measure_category']}}:</td>
                                <td>{{display_details['measure_category']}}</td>
                            </tr>
                            <tr>
                                <td style="width:30%">{{display_details_names['measure_type']}}:</td>
                                <td>{{display_details['measure_type']}}</td>
                            </tr>
                            <tr>
                                <td style="width:30%">{{display_details_names['respondents']}}:</td>
                                <td>{{display_details['respondents']}}</td>
                            </tr>
                            <tr>
                                <td style="width:30%">{{display_details_names['cohort_ses']}}:</td>
                                <td>{{display_details['cohort_ses']}}</td>
                            </tr>
                            <tr>
                                <td style="width:30%">Measure sources:</td>
                                <td><span v-if="display_details['references']">{{display_details['references']}}<br></span>
                                    <span v-for="doi in display_details.doi">
                                        <a :href="'https://doi.org/'+doi"><small>{{doi}}</small></a>
                                        <b-button variant="outline-dark" size="sm" @click="getCitationText('https://doi.org/'+doi)"><i class="fas fa-quote-right"></i></b-button><br>
                                    </span>
                                    <b-modal ref="cite-modal" size="lg" 
                                        header-bg-variant="light"
                                        footer-bg-variant="light"
                                        body-bg-variant="light"
                                        body-text-variant="dark"
                                        ok-only>
                                            <template #modal-header="{ close }">
                                            <div class="d-block text-center">
                                                <h3>Article citation</h3>
                                            </div>
                                            </template>
                                            <b-spinner v-if="citation_busy" variant="warning" type="grow" style="text-align:center;">Fetching citation information...</b-spinner>
                                            <div v-if="citation_text" class="shadow-sm p-3 mb-3 bg-white rounded">
                                            <b-row>
                                                <b-col cols="11">
                                                    <code id="citation">
                                                        {{citation_text}}
                                                    </code>
                                                </b-col>
                                                <b-col cols="1">
                                                    <i id="copyBtnCite" class="far fa-clone" @click="copyCitationText"></i>
                                                    <b-tooltip target="copyBtnCite" :show.sync="showCopyCiteTooltip" @shown="hideCiteTooltipLater" triggers left title="Copied!">
                                                    </b-tooltip>
                                                </b-col>
                                            </b-row>
                                            </div>
                                            <span v-show="invalid_doi"><em>Invalid DOI</em></span>
                                        </b-modal>
                                </td>
                            </tr>
                        </table>
                    </div>
                </b-col>
            </b-row>
        </b-card>

        <br>

    </b-container>
    <script src="assets/app_globals.js"></script>
    <script src="assets/app_collected.js"></script>
</body>
</html>