<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Explore</title>

    <!-- Required Stylesheets -->
    <link rel="stylesheet" type="text/css" href="assets/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/fontawesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/brands.min.css"/>
    <link type="text/css" rel="stylesheet" href="assets/bootstrap.5.1.3.min.css"/>
    <link type="text/css" rel="stylesheet" href="assets/bootstrap-vue.2.21.2.min.css"/>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <!-- <script src="assets/vue.2.6.14.min.js"></script> -->
    <script src="assets/bootstrap-vue.2.21.2.min.js"></script>
    <script src="assets/vue-router.3.5.3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
</head>

<body id="mainbody">
    <noscript>
        <p><strong>The majority of graphs on this page are interactive and require
                JavaScript to be enabled.</strong></p>
    </noscript>


    <div class="header">
        <a href="./"><img src="img/Leiden-CID-logo_200.png" alt="" height="90"></a>
        &nbsp;&nbsp;
        <h1><strong>LCID Metadata Explorer</strong></h1>
        <div class="dropdown push">
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
              <a href="./">Overview</a>
              <a onclick="window.location='participation.html'">Participation</a>
              <a onclick="window.location='measures-collected.html'">Measures collected</a>
              <a onclick="window.location='measures-table.html'">Measures table</a>
              <a onclick="window.location='mri.html'">MRI measures</a>
            </div>
        </div>
    </div>

    <b-container id="explorer-participation" v-if="measures_loaded">
        <b-form inline style=" text-align: center; font-size: x-large; line-height: 2em;">
            <label for="cohort_select" class="font-weight-bold pt-0"><i class="fas fa-table-columns"></i>&nbsp;&nbsp;Which cohort would you like to view? </label>
            <b-form-select id="cohort_select" v-model="selected_cohort" :options="cohort_options" v-on:change="drawGraph()"></b-form-select>
        </b-form>
        <div id="sankey_diagram"></div>
    </b-container>

    <!-- Run the Vue app scripts - DO NOT CHANGE ORDER -->
    <script src="assets/app_globals.js"></script>
    <script src="assets/app_participation.js"></script>
</body>
</html>